
block content
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
  h1= title
  p Click to initate Login
  button.btn.btn-success(onclick="location.href='/initiatelogin?toolId=tool4001&resLinkId=course1002_res2001'") Click
